################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
/InventoryTracker-WebApp/obj/Release
/InventoryTracker-WebApp/Properties/PublishProfiles
