<h6>Entity Search : <input type="text" id="searchEntityStr" class="dropdown-control" style="width:45%;height:32px" />&nbsp;<button type="button" class="btn btn-primary" id="search" style="padding: 3px 12px 4px 11px;">Search</button></h6>
<div class="border border-color min-vh-70 overflow-auto" id="divEntityHDR" onscroll="divEntityHDRLoad(this)">
    <div>
        <table class="table" id="entityHDR">
            <thead style="background-color: #4472c4; color: white; ">
                <tr>
                    <th scope="col">Entity type</th>
                    <th scope="col">Entity name</th>
                    <th scope="col">Assigned</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
