body {
}
.ui-corner-all {
    display: none
}

.ccStyle {
    width: 55em !important;
}

.modelContentStyle {
    width: 1250px !important;
    margin-left: -200px;
}

.arrowStyle{
    cursor:pointer
}

.selectDrpDown{
    width:200px;
}
.yearStyle {
    font-weight: bold;
    font-size: medium;
    
}
.entityNameStyle {
    font-weight: bold;
    font-size: medium;
    margin-left: 200px;
}
.legendStyle {
    font-weight: bold;
    font-size: medium;
    margin-left: 100px;
}
.mainModelStyle {
    padding-right: 350px;
    margin-top:-25px;
}

.headerStyle {
    margin-top: -15px;
    margin-bottom: -15px;
    border-bottom:none;
}

.bodyStyle {
    margin-top: -10px;
}

.tableDivStyle{
    height:620px
}

.ui-datepicker-header{
    font-size:smaller;
}

.ui-datepicker-title {
    line-height: 0.8em !important;
}

.closeBtnStyle {
    margin-top: -10px;
}

.equipStyle {
    font-weight: bold;
    font-size: medium;
    margin-left: 200px;
}