<div class="modal" tabindex="-1" role="dialog" id="createNewInstance">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createInstanceTitle">Create New Instance</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" placeholder="" id="txtcreateNewInstance_Name" value="" onkeypress="allowAlphaNumeric(event)" />
                        <span class="d-none text-danger">This field is required</span>
                        <input type="hidden" value="" />
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-3">
                        <label>Notes</label>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" name="txtcreateNewInstance_Notes" id="txtcreateNewInstance_Notes" cols="30" rows="5"></textarea>
                        <input type="hidden" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancel-modal">Cancel</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
