@*Modal Start*@
<div class="modal fade" id="deleteAssignment" tabindex="-1" aria-labelledby="deleteAssignmentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="deleteAssignmentLabel">Assignment Options</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetDeleteAssignmentModel()"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetDeleteAssignmentModel()">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="removeAssignmentOption()">Remove</button>
                <button type="button" class="btn btn-primary" onclick="updateAssignmentOption()">Update</button>
                <input type="text" class="updatepicker dropdown-control" style="display: inline; width: 25%; height:32px" readOnly />
            </div>
        </div>
    </div>
</div>
@*Model End*@