
@{
    ViewBag.Title = "_EntityEquipmentIndex";
}
<div class="row">
    <div class="col-md-3 ms-5">
        <h6>Available @ViewBag.Type</h6>
        <div class="border border-color min-vh-75 overflow-auto">
            <div>
                <ul id="ul" class="list-group">
                </ul>
            </div>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-danger " id="deleteTemplate">Delete</button>
            <button type="button" class="btn  btn-primary" id="editTemplate">Edit</button>
            <button type="button" class="btn btn-primary" id="newTemplate">New</button>
        </div>
    </div>
    <div class="col-md-8">
        <h6>@ViewBag.Type Type : <b id="templateName"></b></h6>
        <div class="border border-color min-vh-75 overflow-auto">
            <div class="mr-2 ml-2 ">
                <table class="table" id="tblTemplate">
                    <thead style="background-color: #4472c4; color: white; ">
                        <tr>
                            <th scope="col">Property Name</th>
                            <th scope="col">Data Type</th>
                            <th scope="col">Sequence</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-2 float-end">
            <button type="button" class="btn btn-primary" onclick="saveTemplate()">Save</button>
        </div>
    </div>
</div>