
@{
    ViewBag.Title = "_EntityEquipmentIndex";
}
<div class="row">
    <div class="col-md-3 ms-5">
        <h6>Available @ViewBag.Type</h6>
        <div class="border border-color min-vh-75 overflow-auto">
            <div>
                <ul id="ul" class="list-group">
                </ul>
            </div>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-danger " id="deleteTemplate">Delete</button>
            <button type="button" class="btn  btn-primary" id="editTemplate">Edit</button>
            <button type="button" class="btn btn-primary" id="newTemplate">New</button>

            <div hidden>
                <div id="mypopover-content">
                    <p>
                        <b>Download sample file: </b>
                        <a href="#" onclick="sampleFileDownload()" class="aTagColor">Click here</a>
                    </p>
                    <p>
                        <b>Import file: </b>
                        <a href="#" onclick="importBulkData()" class="aTagColor">Click here</a>
                    </p>
                </div>
            </div>
            <div class="float-end" id="divbulkImport" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bs-title="Bulk Import">
                <svg id="bulkImport" xmlns="http://www.w3.org/2000/svg" data-bs-placement="bottom" data-bs-title="Bulk Import" style="cursor:pointer;padding-top:1px;padding-bottom:0px !important" width="30" height="30" fill="currentColor" class="bi bi-file-earmark-arrow-up float-end cls-section-icons" viewBox="0 0 16 16">
                    <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z" />
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h6>@ViewBag.Type Type: <b id="templateName"></b></h6>
        <div class="border border-color min-vh-12 overflow-hidden">
            <div class="mr-2 ml-2 ">
                <table class="table" id="tblTemplateHDR">
                    <thead style="background-color: #4472c4; color: white; ">
                        <tr>
                            <th scope="col" width="250px">Property Name</th>
                            <th scope="col">Data Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="border border-color min-vh-60 overflow-auto mt-2">
            <div class="mr-2 ml-2 ">
                <table class="table" id="tblTemplate">
                    <thead style="background-color: #4472c4; color: white; ">
                        <tr>
                            <th scope="col" width="250px">Property Name</th>
                            <th scope="col">Data Type</th>
                            <th scope="col">Sequence</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-2 float-end">
            <button type="button" class="btn btn-primary" onclick="saveTemplate()">Save</button>
        </div>
    </div>
</div>

@Html.Partial("_ImportModel")