 @*Entity Modal Start*@
<div class="modal fade" id="equipmentTempDTL" tabindex="-1" aria-labelledby="equipmentTempDTLLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="equipmentTempDTLLabel">Equipment Details</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 275px; overflow: auto;" id="equipmentModelBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*Entity Model End*@
