@*Modal Start*@
<div class="modal fade" id="equipmentTemplate" tabindex="-1" aria-labelledby="equipmentTemplateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="equipmentTemplateLabel">Equipment property name</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 275px; overflow: auto;" id="equipmentTemplateModelBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addEquipmentHeader()">Add</button>
            </div>
        </div>
    </div>
</div>
@*Model End*@