@*Modal Start*@
<div class="modal fade" id="importExcel" tabindex="-1" aria-labelledby="importLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="importLabel">Import</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 95px; overflow: auto;" id="importModelBody">
                <input type="file" id="file" class="form-control">
                <div id="operationOptions" hidden>
                    <div style="display:inline-block">
                        <input checked type="radio" id="AddRows" name="operationOptions" value="0">
                        <label for="AddRows">Add Rows</label>
                    </div>
                    <div style="display:inline-block">
                        <input type="radio" id="UpdateRows" name="operationOptions" value="1">
                        <label for="UpdateRows">Update Rows</label>
                    </div>
                    <div style="display:inline-block">
                        <input type="radio" id="AddUpdateRows" name="operationOptions" value="2">
                        <label for="AddUpdateRows">Add/Update Rows</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="importExcel()">Import</button>
            </div>
        </div>
    </div>
</div>
@*Model End*@
